.colored-toast.swal2-icon-success {
  background-color: #27ae60 !important;
}

.colored-toast.swal2-icon-error {
  background-color: #e74c3c !important;
}

.colored-toast .swal2-title {
  color: white;
}

.colored-toast .swal2-close {
  color: white;
}

.colored-toast .swal2-html-container {
  color: white;
}
